<!--
  Generated template for the HomeNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="height:44px;">
  <!-- <ion-navbar  style="top:-100px;position:absolute;">
    <ion-title mode="ios" style="top:-100px;position:absolute;">{{showname}}</ion-title>
  </ion-navbar> -->
  <div class="home_header">
    <div class="header-inside">
      <div class="qrcode">
        <!-- <img tappable (click)="goshoplist()" [src]="img9" alt=""> -->
        <img [src]="logo2" tappable (click)="gotoclass()" alt="">
      </div>
      <div class="search">
        <div class="searchimg">
          <img [src]="img11" alt="">
        </div>
        <input class='searchpart' placeholder="逛贝" (focus)="gotosearch()" type="text">
      </div>
      <div class="message">
        <!-- <img tappable (click)="GotoNitice()" [src]="img10" alt=""> -->
        <img tappable (click)="QRcode()" [src]="img9" alt="">
      </div>
    </div>
  </div>
</ion-header>


<ion-content>
  <div class="slide_part">
    <ion-slides>
      <ion-slide *ngFor="let item of bannerList;let i=index;">
        <a [href]="item.StoreUrl">
            <!-- <img class="bannerImg" [src]="item.PicUrl" alt=""> -->
            <img-lazy-load [src]="item.PicUrl" [Ttype]=2></img-lazy-load>
        </a>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="btnpart" >
    <div *ngFor="let item of list ;let i=index" tappable (click)="gotocoupon(item,i)">
      <img [src]="item.url" alt="">
      <div style="font-size:1.4rem;font-weight:300;">{{item.name}}</div>
    </div>
  </div>
  <div class="showmore">
    <div class="showmoreLeft" tappable (click)="gotopage()">
      <img class="showmoreImg" [src]="tu7" alt="">
      <!-- <div class="showmorediv">
        <div style="height:30%;font-size:1.4rem;">每日签到</div>
        <div style="height:70%;font-size:1.2rem;">每日签到每日签到每日签到</div>
      </div> -->
    </div>
    <div class="showmoreLeft" (click)="gotoPushCodePage()">
      <img class="showmoreImg" [src]="tu8" alt="">
      <!-- <div class="showmorediv">
        <div style="height:30%;font-size:1.4rem;">代理</div>
        <div style="height:70%;font-size:1.2rem;">每日签到每日签到每日签到</div>
      </div> -->
    </div>
  </div>

  <!-- <div class="showmore2" tappable >
    <img class="showmoreImg" [src]="tu6" alt=""> -->
    <!-- <div class="showmorediv" style="width:70%;">
      <div style="height:30%;font-size:1.4rem;">美丽日记</div>
      <div style="height:70%;font-size:1.2rem;">每日签到每日签到每日签到</div>
    </div> -->
  <!-- </div> -->

  <div style="width:100%;background:#F9F9F9" *ngFor="let item of realList">
    <!-- <div class="title">
      <div>{{item.Name}}</div>
    </div> -->
    <div *ngIf="item.Imageurl!=''" class="banner3" tappable (click)="gotofloor(item.ID,item.url,item.Name)">
      <!-- <img [src]="item.Imageurl!=''?item.Imageurl:banner" alt=""> -->
      <img-lazy-load  [src]="item.Imageurl"  [Ttype]=3></img-lazy-load>
    </div>
    <div class="goodslist">
      <div class="goodsitem3" *ngFor="let tab of item.product" tappable (click)="gotoDetail(tab.ProId)">
        <div>
          <!-- <div class="fixedpart">新品</div> -->
          <img *ngIf="tab.ISHD==1"  class="activity_pic" [src]="activity" alt="">
          <!-- <img style="width:90%;height:auto;max-height: 100%;" [src]="tab.ProPic!=''?tab.ProPic:imggoods" alt=""> -->
          <img-lazy-load style="width:90%;height:auto;max-height: 100%;" [src]="tab.ProPic" [Ttype]=1></img-lazy-load>
          <!-- <ion-img width="80" height="80" src="{{tab.ProPic}}"></ion-img> -->
          <!-- <ion-img ></ion-img> -->
        </div>
        <div>{{tab.Name}}</div>
        <!-- <div>{{tab.Shortdesc}}</div> -->
        <div>
          <span>￥{{tab.ActivityPrice.toFixed(2)}}</span>
          <span style="color:#999;text-decoration: line-through">￥{{tab.OldPrice.toFixed(2)}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div tappable (click)="gotoweixin()">
    点击注册
  </div> -->
</ion-content>