page-delivery-type {
    /* .delivery-item1 {
        height: 5.5rem;
        width: 100%;
        background: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left:3%;
    }
    .delivery-item1 >div{
        width:6.8rem;
        height:2.5rem;
        text-align: center;
        line-height:2.5rem;
        border-radius:3px;
        margin-right:0.9rem;
    }
    .color{
        border:1px solid #ff4f4f;
        color:#ff4f4f;
    }
    .nocolor{
        border:1px solid #e5e5e5;
    }
    .delivery-item2 {
        height: 4.5rem;
        width: 97%;
        background: #fff;
        display: flex;
        flex-direction: row;
        margin-left:3%;
        border-bottom:1px solid #e5e5e5;
        align-items: center;
        justify-content: space-between;
        padding-right:1rem;
    }
    .delivery-item-name{
        display:flex;
        flex-direction: row;
        color:#999;
    }
    .delivery-item-name>img{
        width:1.4rem;
        height:1.4rem;
        display:block;
        margin-left:1rem;
    }
    .delivery-item3 {
        height: 4.5rem;
        width: 97%;
        background: #fff;
        display: flex;
        flex-direction: row;
        margin-left:3%;
        border-bottom:1px solid #e5e5e5;
        align-items: center;
        justify-content: space-between;
        padding-right:1rem;
    }
    .delivery-item4 {
        height: 3.5rem;
        width: 95%;
        background: #ff4f4f;
        border-radius: 4px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        line-height: 3.5rem;
        margin-top:8.6rem;
    } */
    .home_header {
        height: 52px;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: #fff;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }
    .header-inside {
        width: 95%;
        height: 44px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .qrcode {
            width: 15%;
            height: 44px;
            padding-top: 15px;
            padding-left: 10px;
        }
        .qrcode>img {
            width: 22px;
        }
        .search {
            margin-top: 8px;
            height: 34px;
            width: 70%;
            border-radius: 22px;
            background: #e0e0e0;
            display: flex;
            flex-direction: row;
        }
        .searchimg {
            width: 20%;
            height: 34px;
            padding-top: 8px;
            padding-left: 10px;
        }
        .searchimg>img {
            width: 17px;
        }
        .searchpart {
            display: block;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            width: 70%;
            border: none;
            outline: none;
            background: none;
        }
        .message {
            padding-top: 15px;
            width: 15%;
            height: 44px;
            display: flex;
            flex-direction: row-reverse;
            padding-right: 10px;
        }
        .message>img {
            width: 22px;
            height: 22px;
        }
    }
    /* 文章 */
    .com-content-style1{
        width:94%;
        height:120px;
        margin:0 auto;
        border-bottom:1px solid #e0e0e0;
        display:flex;
        flex-direction:row; 
        padding:10px 0px 10px 0px;
    }
    .com-content-style1>img{
        height:100px;
        width:100px;
    }
    .com-style1-detail{
        width:auto;
        height:100px;
        display:flex;
        flex-direction: column;
    }
    .com-detail1{
        height:76px;
        padding-left:12px;
    }
    .com-detail2{
        height:23px;
        line-height:23px;
        display:flex;
        flex-direction:row;
        align-items: center; 
        padding-left:12px;
    }
    .com-style-pic1{
        height:20px;
        height:20px;
        border-radius:50%;
    }
    .com-style-pic2{
        height:15px;
        width:15px;
        margin-right:2px
    }
    .com-content-style2{
        width:94%;
        margin:0 auto;
        height:auto;
        padding:10px 0px 10px 0px ;
        display:flex;
        flex-direction:column;
        border-bottom:1px solid #e0e0e0;  
    }
    .com-style2-img{
        width:100%;
    }
    .bannerpic{
        width:100%;
        height:14rem;
        overflow: hidden;
    }
    .com-style2-title{
        height:26px;
        width:100%;
        line-height:26px;
        font-size:1.6rem;
        margin-bottom:11px;
    }
    .com-style2-persion{
        height:23px;
        width:100%;
        line-height:23px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .com-style2-part{
        height:23px;
        line-height:23px;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .noMsg{
        width:100%;
        height:300px;
        font-size:1.6rem;
        color:#999;
        line-height:300px;
        text-align: center; 
    }
}