<!--
  Generated template for the CouponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="min-height: 44px;">
  <ion-navbar mode="ios" style="min-height: 44px;">
    <ion-title mode="ios">优惠券</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="background:#eee;">
 <!--  <div class="coupon-switch">
    <div tappable (click)="switch(0)">
      <span [ngClass]="{true:'color',false:''}[switchflag==0]">未使用</span>
    </div>
    <div tappable (click)="switch(1)">
      <span [ngClass]="{true:'color',false:''}[switchflag==1]">已失效</span>
    </div>
  </div> -->
  <div class="coupon-item" *ngFor="let item of conponList">
    <div class="item-header"></div>
    <div class="item-content">
      <div *ngIf="item.CouponType==1" class="item-num">
        <div>
          {{item.Amount}}
          <span style="font-size:12px;font-weight:100;">元</span>
        </div>
        <div>满减劵</div>
      </div>
      <div *ngIf="item.CouponType==2" class="item-num">
        <div style="padding-left:2rem;">
          {{item.Amount*10}}
          <span style="font-size:12px;font-weight:100;">折</span>
        </div>
        <div>折扣劵</div>
      </div>
      <div *ngIf="item.CouponType==3" class="item-num">
        <div>
          {{item.Amount}}
          <span style="font-size:12px;font-weight:100;">元</span>
        </div>
        <div>代金券</div>
      </div>
      <div class="item-exp">
        <div>订单满{{item.MeetPrice}}元即可使用</div>
        <div>
          <span *ngIf="item.UsingRange==1">全平台</span>
          <span *ngIf="item.UsingRange==2">店铺通用</span>
          <span *ngIf="item.UsingRange==3">品类通用</span>
          <span *ngIf="item.UsingRange==4">单商品通用</span>
          <span *ngIf="item.UsingRange==5">品牌通用</span>
        </div>
        <!-- <div>不能用情况</div> -->
      </div>
    </div>
    <div class="item-footer">
      <div>有效期：{{splite(item.StartDate)}}至{{splite(item.EndDate)}}</div>
      <div tappable (click)="gotoUse(item)">去使用</div>
    </div>
  </div>
  <!-- <div class="coupon-item" *ngIf="switchflag==1">
    <div class="item-header2"></div>
    <div class="item-content">
      <div class="item-num2">
        <div>
          100
          <span style="font-size:12px;font-weight:100;">元</span>
        </div>
        <div>抵扣劵</div>
      </div>
      <div class="item-exp">
        <div>订单满1000元即可使用</div>
        <div>试用地点</div>
        <div>不能用情况</div>
      </div>
    </div>
    <div class="item-footer">
      <div>有效期：2017.02.05-2017.04.03</div>
      <div>去使用</div>
    </div>
  </div> -->
</ion-content>