<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="min-height: 44px;">
  <ion-navbar mode="ios" style="min-height: 44px;">
    <ion-title mode="ios">地址管理</ion-title>
    <!-- <ion-buttons right tappable (click)="creatpage()">
      <img [src]="img2" style="transform:rotate(45deg);height:12px;width:12px;margin-right:10px;margin-top:3px;">
    </ion-buttons> -->
    <!-- <ion-buttons right>
      <button ion-button icon-only tappable (click)="creatpage(none,3)">
        <img [src]="img2" style="transform:rotate(45deg);height:12px;width:12px;margin-right:10px;margin-top:3px;">
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content style="background:#eee">
  <div *ngIf="itemD!=null&&itemD!=''">
    <div class="border_change" >
      <div class="address-item">
        <div class="item-content">
          <div style="font-size:1.2em;">{{itemD.username}} &nbsp;&nbsp;{{itemD.tel}}
            <span class="signClass">默认地址</span>
          </div>
          <div class="address_detail">{{itemD.address}}</div>
        </div>
        <div class="item-img" tappable (click)="creatpage(none,1)">
          <img [src]="img" alt="">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="item!=null">
    <div style="width:100%;background:#fff;"  *ngFor="let item of item">
      <div class="address-item">
        <div class="item-content">
          <div style="font-size:1.2em;">{{item.username}} &nbsp;&nbsp;{{item.tel}}</div>
          <div class="address_detail">{{item.address}}</div>
        </div>
        <div class="item-img">
          <img [src]="img" alt="" tappable (click)="creatpage(item,2)">
        </div>
      </div>
    </div>
  </div>
 
  <!--  <ion-item>
      <ion-label>Simple Picker</ion-label>
      <ion-multi-picker item-content [multiPickerColumns]="simpleColumns"></ion-multi-picker>
  </ion-item> -->
</ion-content>
<ion-footer>
  <div class="new_address_btn" tappable (click)="creatpage(none,3)">
    新增收货地址
  </div>
</ion-footer>