page-resigiter {
    .phone-num{
        width:100%;
        height:46px;

    }
    .phone-item{
        width:95%;
        height:46px;
        margin-left:5%;
        border-bottom:1px solid #eee;
        display:flex;
        flex-direction: row;
    }
    .phone-item>div:nth-child(1){
        width:20%;
        line-height:46px;
        height:46px;
        text-align: left;
    }
    .phone-item>input{
        height:44px;
        width:50%;
        display: block;
        border:none;
        outline: none;
    }
    .yan-code{
        width:100%;
        height:46px;
    }
    .yan-code-item{
        width:95%;
        height:46px;
        margin-left:5%;
        border-bottom:1px solid #eee;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .yan-code-item>div:nth-child(1){
        width:20%;
        line-height:46px;
        height:46px;
        text-align: left;
    }
    .yan-code-item>div:nth-child(3){
        width:25%;
        text-align: center;
        line-height:35px;
        height:35px;
        border:1px solid color($colors, baseColor);
        border-radius:10px;
        color:color($colors, baseColor);
        font-size:0.9em;
    }
    .yan-code-item>input{
        height:44px;
        width:50%;
        display: block;
        border:none;
        outline: none;
    }
    .password{
        width:100%;
        height:46px;
    }
    .password-item{
        width:95%;
        height:46px;
        margin-left:5%;
        border-bottom:1px solid #eee;
        display:flex;
        flex-direction: row;
    }
    .password-item>div:nth-child(1){
        width:20%;
        line-height:46px;
        height:46px;
        text-align: left;
    }
    .password-item>input{
        height:44px;
        width:50%;
        display: block;
        border:none;
        outline: none;
    }
    .resgiter-btn{
        height:35px;
        width:90%;
        margin:0 auto;
        text-align: center;
        line-height:35px;
        color:#fff;
        background:color($colors, baseColor);
        border-radius:5px;
        margin-top:100px;
    }
    .inputpart{
        outline:none;
        border:none;
        width:80%;
        height:80%;
        text-align: center; 
        color:#666;
        background:#fff;
    }
    .tixing{
        line-height:25px;
        width:80%;
        margin:0 auto;
        color:color($colors, baseColor);
        margin-top:20px;
    }
}
