page-seckill {
    .goods-banner {
        width: 100%;
        height:340px;
    }
    .scrollcontent {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }
    .back_top {
        width: 35px;
        height: 35px;
        position: fixed;
        bottom: 55px;
        right: 10px;
        background-size: 35px 35px;
        opacity: 1;
        transition: all .3s ease 0s;
        -webkit-transition: all .3s ease 0s;
        z-index: 100;
    }
    .navbar {
        height: 45px;
        width: 100%;
        /* background:rgba($color: #fff, $alpha:0); */
        background: #fff;
        opacity: 0;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        border-bottom: 1px solid #eee;
    }
    .backbtn {
        width: 27px;
        height: 27px;
        background: url("/assets/imgs/fanhui.png");
        background-size: 100% 100%;
        position: absolute;
        top: 9px;
        left: 9px;
        z-index: 8;
    }
    .more {
        width: 27px;
        height: 27px;
        background: url("/assets/imgs/gengduo.png");
        position: absolute;
        background-size: 100% 100%;
        top: 9px;
        right: 9px;
        z-index: 8;
    }
    .backbtn2 {
        width: 20px;
        height: 20px;
        background: url("/assets/imgs/fanhui2.png");
        background-size: 100% 100%;
        position: absolute;
        top: 12px;
        left: 11px;
        z-index: 8;
    }
    .more2 {
        width: 27px;
        height: 27px;
        background: url("/assets/imgs/gengduo2.png");
        position: absolute;
        background-size: 100% 100%;
        top: 9px;
        right: 9px;
        z-index: 8;
    }
    .goods-title {
        width: 95%;
        height: auto;
        margin: 0 auto;
        line-height: 20px;
        font-size: 1.4rem;
        color: #353535;
    }
    .goods-intro {
        width: 95%;
        height: auto;
        margin: 0 auto;
        color: #b0b0b0;
        font-size: 12px;
    }
    .goods-price {
        background:#fff;
        height: 60px;
        width: 100%;
        padding:0px 2.5%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 5px;
    }
    .goods-price>div:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.4rem;
        height: 21px;
        line-height: 21px;
        color: color($colors, baseColor);
        margin-right: 8px;
    }
    .goods-price>div:nth-child(2) {
        font-size: 1.2rem;
        height: 12px;
        line-height: 12px;
        text-decoration: line-through;
        color: #b0b0b0;
        margin-right: 13px;
    }
    .goods-price>div:nth-child(3) {
        font-size: 1.2rem;
        height: 17px;
        line-height: 17px;
        padding: 0 3px;
        color: #fff;
        background: color($colors, baseColor);
        border-radius: 2px;
    }
    .goods-chioce {
        width: 95%;
        margin: 0 auto;
        height: 35px;
        line-height: 35px;
        display: flex;
        font-size: 1em;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
    }
    .goods-chioce>div:nth-child(1) {
        width: 70%;
        color: #b0b0b0;
    }
    .goods-chioce>div:nth-child(2) {
        width: 20%;
        text-align:right;
    }
    .goods-chioce>div:nth-child(3) {
        width: 10%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .goods-chioce>div:nth-child(3)>img {
        width: 14px;
        height: 14px;
    }
    .goods-address {
        width: 95%;
        margin: 0 auto;
        height: 35px;
        font-size: 1em;
        line-height: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
    }
    .goods-address>div:nth-child(1) {
        width: 10%;
        color: #b0b0b0;
    }
    .goods-address>div:nth-child(2) {
        width: 65%;
    }
    .goods-address>div:nth-child(3) {
        width: 15%;
    }
    .goods-address>div:nth-child(4) {
        width: 10%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .goods-address>div:nth-child(4)>img {
        width: 14px;
        height: 14px;
    }
    .goods-more {
        height: 24px;
        line-height: 24px;
        margin: 0 auto;
        width: 95%;
        padding-left: 40px;
        color: #b0b0b0;
        font-size: 0.75em;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .goods-more>img {
        height: 12px;
        width: 12px;
        margin-right: 3px;
    }
    .user-judge {
        width: 95%;
        height: 42px;
        margin: 0 auto;
        line-height: 42px;
        display: flex;
        flex-direction: row;
        font-size: 1em;
    }
    .user-judge>div:nth-child(1) {
        width: 60%;
        color: #b0b0b0;
    }
    .user-judge>div:nth-child(2) {
        width: 17%;
        text-align: right;
        color: color($colors, baseColor);
    }
    .user-judge>div:nth-child(3) {
        width: 17%;
        text-align: right;
        color: #b0b0b0;
    }
    .user-judge>div:nth-child(4) {
        width: 6%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .user-judge>div:nth-child(4)>img {
        width: 14px;
        height: 14px;
    }
    .goods-switch {
        width: 100%;
        background: #fff;
        height: 37px;
        padding-top: 6px;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #eee;
    }
    .goods-switch>div {
        height: 25px;
        line-height: 25px;
        width: 50%;
        text-align: center;
        font-size: 1.4rem;
    }
    .switch-color {
        color: color($colors, baseColor);
    }
    .goods-buy {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 41px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #bfbfbf;
        background: #fff;
        font-size: 9px;
        color: #b0b0b0;
    }
    .goods-buy>div:nth-child(1) {
        width: 17%;
        height: 41px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 7px;
    }
    .goods-buy>div:nth-child(1)>img {
        height: 17px;
        width: 17px;
        margin: 0 auto;
    }
    .goods-buy>div:nth-child(2) {
        width: 17%;
        height: 41px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 7px;
    }
    .goods-buy>div:nth-child(2)>img {
        height: 17px;
        width: 17px;
        margin: 0 auto;
    }
    .goods-buy>div:nth-child(3) {
        width: 17%;
        height: 41px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 7px;
    }
    .goods-buy>div:nth-child(3)>img {
        height: 17px;
        width: 17px;
        margin: 0 auto;
    }
    .goincar1 {
        width: 49%;
        height: 41px;
        color: #fff;
        font-size: 1em;
        background:color($colors, baseColor);
        line-height:41px;
        text-align: center;
    }
    .goincar1>div{
        width:50%;
        height:41px;
        display:flex;
        flex-direction: column;
        padding-top:3px;
    }
    .goincar {
        width: 50%;
        height: 41px;
        line-height: 41px;
        background-color: #999;
        color: #fff;
        font-size: 1em;
        text-align: center;
    } //评价
    .judge-part {
        width: 100%;
        height: auto;
        background: #fff;
    }
    .judge-title {
        height: 42px;
        line-height: 42px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .judge-title>div:nth-child(1) {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .judge-title>div:nth-child(1)>img {
        width: 31px;
        height: 31px;
    }
    .judge-title>div:nth-child(2) {
        height: 100%;
        width: 70%;
        font-size: 15px;
    }
    .judge-title>div:nth-child(3) {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .judge-title>div:nth-child(3)>img {
        width: 11px;
        height: 11px;
    }
    .judge-title>div:nth-child(4) {
        height: 100%;
        color: #b0b0b0;
        width: 10%;
    }
    .judge-content {
        width: 95%;
        margin: 0 auto;
        font-size: 1.4rem;
        line-height: 20px;
        padding: 10px 0;
    }
    .judge-img {
        width: 95%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .judge-img>img {
        width: 24%;
        margin-right: 1%;
        margin-top: 5px;
        display: block;
    }
    .judge-con {
        width: 95%;
        font-size: 0.75em;
        background: #eee;
        margin: 0 auto;
    }
    .judge-con>div {
        width: 100%;
        padding: 14px;
        margin: 0 auto;
        line-height: 20px;
    }
    .headimg {
        border-radius: 50%;
    }
    .group-list{
      width:95%;
      height:45px;
      box-sizing:border-box; 
      margin:0 auto;
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      border-bottom: 1px solid #e5e5e5;  
    }
    .group-list-left{
        width:auto;
        height:44px;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .group-list-right{
        width:auto;
        height:44px;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .group-list-left>img{
        width:35px;
        height:35px;
        border-radius:50%;
        margin-right:8px;
    }
    .right-btn{
        height:25px;
        font-size: 0.75em;
        line-height:25px;
        width:50px;
        text-align: center;
        border-radius:3px;
        background:color($colors, baseColor);
        color:#fff;
        margin-left:8px;
    }
    .right-btn2{
        height:auto;
        width:auto;
        display:flex;
        flex-direction: column;
        text-align: right;
    }
    .spacila-price{
        width:100%;
        height:39px;
        display:flex;
        flex-direction: row;
    }
    .spacila-price-left{
        width:67%;
        height:39px;
        background:color($colors, baseColor);
        display:flex;
        flex-direction: row;
    }
    .spacila-price-right{
        width:33%;
        height:39px;
        background:url("/assets/imgs/spbg.png") no-repeat;
        background-size: 100% 100%;
        padding-top:2px;
    }
    .spacila-price-left1{
        height:100%;
        width:50%;
        font-size:1.5em;
        line-height:39px;
        color:#fff;
        text-align: center;
    }
    .spacila-price-left2{
        height:100%;
        font-size:1.5em;
        padding-top:2px;
        font-size:0.75em;
        color:#fff;
    }
    .spacila-price-left-btn1{
        text-decoration: line-through;
    }
    .spacila-price-left-btn2{
        padding:0px 5px;
        background:#CC3F3F;
        border-radius:3px;
    }
    .spacila-price-right1{
        width:100%;
        height:16px;
        line-height:16px;
        font-size:0.75em;
        text-align: center;
        color:color($colors, baseColor); 
    }
    .spacila-price-right2{
        width:100%;
        
        font-size:0.75em;
        display:flex;
        flex-direction: row;
        justify-content: center;
       
    }
    .spacila-price-right2>span{
        padding:2px;
        background: #5E3020;
        border-radius:2px;
        color:#fff;
    }
}
