<ion-header style="height: 44px;">
  <ion-navbar mode="ios" style="height: 44px;">
    <ion-title mode="ios">退款详情</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="background:#eee;">
  <div class="order-status">
    请等待商家处理
  </div>
  <div class="new_order_item1" *ngIf="goodsNsg!=undefined">
    <div class="new_order_item_title">
      您已成功发去退款申请，请耐心等待商家处理
    </div>
    <div class="new_order_item_address" style="border:none;height:4rem;">
      <div class="return_address_chose1">
        <div class="pont"></div>
      </div>
      <div class="return_address_chose2">
        商家同意后，请按照给出的退货地址退货，并请记录货运单号
      </div>
    </div>
    <div class="new_order_item_address" style="border:none;height:4rem;">
      <div class="return_address_chose1">
        <div class="pont"></div>
      </div>
      <div class="return_address_chose2">
        如商家拒绝，您可以修改申请后再次发起，商家会重新处理
      </div>
    </div>
    <div class="return_change_status">
      <div class="return_change_btn" [ngClass]="{true:'bordercolor',false:''}[type==1]">撤销申请</div>
      <!-- <div class="return_change_btn" [ngClass]="{true:'bordercolor',false:''}[type==2]">修改订单</div> -->
    </div>
  </div>
  <div class="return_money" *ngIf="goodsNsg!=undefined" >
    <div style="width:100%;height:2rem;line-height: 2rem;">退款信息</div>
    <div class="return_goods_msg">
      <div class="return_goods_msg_left">
        <img [src]="goodsNsg.PicUrl" alt="">
      </div>
      <div class="return_goods_msg_right">
        <div class="detail_msg">{{goodsNsg.ProductName}}</div>
        <div style="color:#999">
          <span style="margin-right:10px;">价格:{{goodsNsg.RefundMoney.toFixed(2)}}</span>
          <span>数量:x1</span>
        </div>
      </div>
    </div>
    <div class="return_money_moremsg">
      <div class="return_money_moremsg1">申请原因：</div>
      <div class="return_money_moremsg2">{{goodsNsg.RefundReason}}</div>
    </div>
    <div class="return_money_moremsg">
      <div class="return_money_moremsg1">申请件数：</div>
      <div class="return_money_moremsg2">1</div>
    </div>
    <div class="return_money_moremsg">
      <div class="return_money_moremsg1">申请时间：</div>
      <div class="return_money_moremsg2">{{goodsNsg.CreateTime.split("T")[0]}}</div>
    </div>
    <!-- <div class="return_money_moremsg">
      <div class="return_money_moremsg1">服务单号：</div>
      <div class="return_money_moremsg2">12312312312</div>
    </div> -->
  </div>
</ion-content>