page-return-goods {
    .list-content {
        height: auto;
        background: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .list-title {
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #e5e5e5;
    }
    .list-title>div:nth-child(1) {
        width: 12%;
        height: 35px;
        display: flex;
        flex-direction: row;
        padding-top: 6px;
        padding-left: 10px;
    }
    .list-title>div:nth-child(1)>img {
        height: 18px;
        width: 18px;
    }
    .list-title>div:nth-child(2) {
        line-height: 35px;
        width: 73%;
        height: 35px;
        font-size: 0.75em;
    }
    .list-title>div:nth-child(3) {
        width: 15%;
        height: 35px;
        line-height: 35px;
        font-size: 0.75em;
        color: color($colors, baseColor);
        text-align: right;
        padding-right: 10px;
    } //订单列表样式   
    .list-item {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        flex-direction: row;
    }
    .list-item>div:first-child {
        width: 5%;
        height: 84px;
    }
    .list-style {
        width: 95%;
        height: 84px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .list-style>div:nth-child(1) {
        height: 64px;
        width: 20%;
        display: flex;
        flex-direction: row;
    }
    .list-style>div:nth-child(2) {
        height: 64px;
        width: 60%;
        display: flex;
        flex-direction: column;
        font-size: 0.625em;
        line-height: 20px;
        padding-left: 5px;
    }
    .list-style>div:nth-child(3) {
        height: 64px;
        width: 20%;
        display: flex;
        flex-direction: column;
        color: #7d7d7d;
        font-size: 0.625em;
        line-height: 20px;
        text-align: right;
        padding-right: 10px;
    }
    .list-style>div>img {
        display: block;
        height: 64px;
        width: 64px;
    } //结束
    .total {
        height: 30px;
        width: 100%;
        text-align: left;
        font-size: 12px;
        line-height: 30px;
        padding-right: 10px;
        padding-left: 5%;
    }
    .total-btn {
        height: 50px;
        padding-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 10px;
    }
    .total-btn>div {
        height: 30px;
        line-height: 30px;
        width: 70px;
        text-align: center;
        border: 1px solid color($colors, baseColor);
        color: color($colors, baseColor);
        font-size: 0.75em;
        border-radius: 5px;
        margin-left: 5px;
    } //新页面
    .new_return_item {
        width: 100%;
        height: auto;
        padding-bottom: 1.3rem;
        display: flex;
        flex-direction: column;
        background: #fff;
        margin-top: 1rem;
    }
    .new_return_item1 {
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 1.2rem;
        border-bottom: 1px solid #dedede;
    }
    .new_return_item2 {
        height: auto;
        width: 100%;
        padding: 6px 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .new_return_item21 {
        width: auto;
        height: 6.4rem;
        padding-right: 1rem;
    }
    .new_return_item22 {
        width: 70%;
        height: 6.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .new_return_item22>div{
        width: 100%;
        height: 4rem;
        line-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .new_return_item21>img {
        height: 6.4rem;
        width: auto;
    }
    .new_return_item3{
        height:3rem;
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #F8F8F8;
        padding:0px 1.2rem;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .item3_img1{
        height:1.3rem;
        width:1.3rem;
    }
    .item3_div1{
        width:25%;
        height:auto;
    }
    .item3_div2{
        width:60%;
        height:2rem;
        line-height: 2rem;
        padding-left:10px;
        border-left:1px solid #d3d3d3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .item3_img2{
        height:1.2rem;
        width:auto;
    }
}